<section class="mt-5" id="add-products-form">

    
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card mt-5">
          <div class="card-header bg-dark text-white text-center">
            ADD PRODUCTS
          </div>

          <div class="card-body">
            <form action="/admin/add-products" method="post" enctype="multipart/form-data">
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-sm" name="product_name" id="product_name" autofocus>
              <label for="user_name">Product Name</label>
            </div>
             <div class="form-floating mb-3">
              <input type="text" name="category" class="form-control form-control-sm" id="category" autofocus>
              <label for="user_name">Category</label>
            </div>

             <div class=" col form-floating mb-3">
              <input type="number" name="price" class="form-control form-control-sm" id="price" autofocus>
              <label for="user_name">Price</label>
            </div>
            <div class=" col form-floating mb-3">
              <input type="number" name="stock" class="form-control form-control-sm" id="stock" autofocus>
              <label for="user_name">Stock</label>
            </div>
            <div class="  form-floating mb-3">
              <input type="file" name="image" class="form-control form-control-sm" id="Image" autofocus>
              
            </div>

             <div class=" col form-floating mb-3">
              <textarea type="text" name="description" class="form-control form-control-sm" id="description" minlength="10" maxlength="150" autocorrect="on" spellcheck="true" autofocus required></textarea>
              <label for="description">Description</label>
            </div>
            <div class="d-grid btn-sm">
            <button type="submit" class="btn btn-success">Add Products</button>
            </div>
            </form>
          </div>

        </div>
      </div>
    </div>
   </div>

</section>