:root{
  
  --header-font:'Roboto', sans-serif;

}

#admin-navbar{
  background-color:#9561c9;
}

#admin-navbar .navbar{
  font-family: var(--header-font);
  
}

#admin-navbar .navbar-nav .nav-link .active{
  color: whitesmoke;
}
#admin-navbar .navbar-nav li {
  margin-left: 50px;
  
  
}









