


#user-cart{
    
    height: 100vh;
    background-color: #bdddf2;
}

#user-cart .row{
  border-color: #bdddf2;
}


#user-cart .cart-container{
  background-color: whitesmoke;
  
  width: 80vw;
  max-width: 900px;
  box-shadow:  0 3px 9px 3px rgba(0,0,0,0.1);
  font-family: 'Roboto Condensed', sans-serif;
}
 
#user-cart .quantity .btn{
  
  width: 30px;
  background-color: #bdddf2;
}



