


<section id="user-main-section">
    <header id="header" class="vh-100 carousel slide" style="padding-top:300px">
<div class="container-fluid  d-flex align-items-center h-10 justify-content-center">
            <div id="slides-only" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                       <h2 class="text-capitalize text-white">best collection</h2>
                       <h1 class="text-uppercase py-2 fw-bold text-white">new arrivals</h1>
                       <a href="#" class="btn mt-3">shop now</a>
                    </div>
                    <div class="carousel-item active">
                        <h2 class="text-capitalize text-white">best price & offer</h2>
                        <h1 class="text-uppercase text-white">new season</h1>
                        <a href="#" class="btn mt-3 text-capitalize">BUY NOW</a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>       
    </div>

    <button class="carousel-control-prev" type="button" 
    data-bs-target="#header" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" 
    data-bs-target="#header" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    </button>
    </header>

<!-- new collecitons -->

    <section id="collection" class="py-5">
        <div class="container">
            <div class="title text-center">
                <h2 class="position-relative d-inline-block text-capitalize">new collection</h2>
            </div>

            <div class="row g-0">
                <div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group" data-filter="">
                 <button type="button " class=" btn m-2 text-dark" data-filter="*">All</button>
                 <button type="button " class=" btn m-2 text-dark" data-filter=".best">Best Sellers</button>
                 <button type="button " class=" btn m-2 text-dark" data-filter=".feat">Featured</button>
                 <button type="button " class=" btn m-2 text-dark" data-filter=".new">New Arrival</button>

                </div>

                <div class="collection-list mt-4 row">
                    <div class="col-md-6 col-lg-4 col-xl-3 best">
                        
                        <div class="collection-img position-relative">
                            <img src="/images/c_formal_gray_shirt.png" alt="gray-shirt" class="w-100">
                            <span class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>

                        </div>
                        <div class="text-center">
                            <div class="rating mt-3">
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                            </div>
                            <p class="">gray shirt</p>
                            <span class="">$ 45.50</span>
                        </div>

                    </div>

                      <div class="col-md-6 col-lg-4 col-xl-3 feat">
                        
                        <div class="collection-img position-relative">
                            <img src="/images/c_formal_gray_shirt.png" alt="gray-shirt" class="w-100">
                            <span class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>

                        </div>
                        <div class="text-center">
                            <div class="rating mt-3">
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                            </div>
                            <p class="">gray shirt</p>
                            <span class="">$ 45.50</span>
                        </div>

                    </div>

                      <div class="col-md-6 col-lg-4 col-xl-3 new">
                        
                        <div class="collection-img position-relative">
                            <img src="/images/c_formal_gray_shirt.png" alt="gray-shirt" class="w-100">
                            <span class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>

                        </div>
                        <div class="text-center">
                            <div class="rating mt-3">
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                                <span class=""><i class="fa-solid fa-star"></i></span>
                            </div>
                            <p class="">gray shirt</p>
                            <span class="">$ 45.50</span>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <section id="special" class="py-5">
        <div class="container">
            <div class="title text-center py-5">
                <h2 class="position-relative d-inline-block">Special Selection</h2>
            </div>

            <div class="special-list row g-0">
                <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="special-img position-relative overflow-hidden">
                        <img src="/images/special_product_1.jpg" alt="special-product" class="w-100">
                        <span class="postiion-absolute d-flex
                        align-items-center justify-content-center
                        text-primary fs-4
                        "><i class="fa-solid fa-heart"></i></span>

                    </div>

                    <div class="text-center">
                        <p class="text-capitalize mt-3 mb-1">gray shirt</p>
                        <span class="fw-bold d-block">$ 45.50</span>
                        <a href="" class="btn btn-primary mt-3">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--blogs-->
    <div id="offers" class="py-5">
        <div class="container">
            <div class="row d-flex align-items-center text-center justify-content-lg-start text-lg-start">
                <div class="offers-content">
                    <span class="text-white">
                        Discount Up To 40%
                    </span>
                    <h2 class="mt-2 mb-4 text-white">
                        Grand Sale Offer!
                    </h2>
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of blogs-->


<!--blogs-->
<section id="blogs" class="py-5">
    <div class="container">
        <div class="title text-center py-5">
            <div class="position-relative d-inline-block">Our Latest Blog</div>
        </div>

        <div class="row">
            <div class="card">
                <img src="/images/blog_1.jpg" alt="blog-1">
                <div class="card-body px-0">
                    <div class="card-title">hello it's my new e-commerce
                         website.how's it??</div>
                    <p class="card-text mt-3 text-muted">Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. Esse, veritatis
                         unde dignissimos culpa rerum at. Est explicabo
                          praesentium ratione vel reiciendis, veritatis
                           assumenda sed eos 
                        maiores libero illum non quia.</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <span class="fw-bold">Author:</span>Jhon Doe
                            </small>
                        </p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of blogs-->

<!--about us-->

<section id="about" class="py-5">
<div class="container">
    <div class="row gy-lg-5 align-items-center">
        <div class="col-lg-6 order-lg-1 text-center text-lg-start">
        <div class="title pt-3 pb-5">
            <h2 class="position-relative d-inline-block ms-4">
                About Us
            </h2>
        </div>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Quo odit, sequi, praesentium
              inventore laudantium nesciunt ipsam consequuntur
               libero consequatur a obcaecati totam magnam voluptatibus
                eius dignissimos, cupiditate
             exercitationem neque necessitatibus.
        </p>
    </div>
    <div class="col-lg-6 order-lg-0">
        <img src="images/about_us.jpg" alt="" class="img-fluid">
    </div>
</div>
</div>
</section>
<!--end of about us-->
<!--popular-->
    <div id="popular" class="py-5">
        <div class="container">
            <div class="title text-center pt-3 pb-5">
                <h2 class="position-relative d-inline-block ms-4">
                    Popular of This Year
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 row g-3">
                    <h3 class="fs-5">
                        Top Rated
                    </h3>
                    <div class="d-flex align-items-start justify-content-start">
                        <img src="/images/top_rated_1.jpg" alt="top rated" class="img-fluid pe-3 w-25">
                        <div>
                            <p class="">Blue Shirt</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--end of popular-->

<!--newsletter-->
<div id="newsletter" class="py-5">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="title text-center pt-3 pb-5">
                <h2 class="position-relative d-inline-block ms-4">
                    Newsletter Subscription
                </h2>
            </div>

            <p class="text-center text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam excepturi, ex in, laborum reprehenderit amet velit cupiditate reiciendis vero sit nihil maxime, at vel quidem ipsa corrupti quibusdam qui omnis?
            </p>
            <div class="input-group mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Enter Your Email">
                <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
        </div>
    </div>
</div>
<!--newsletter-->

<!--footer-->
<div class="bg-dark py-5">
    <div class="container">
        <div class="row text-white g-4">
            <div class="col-md-6 col-lg-3">
                <a href="index.html" class="text-uppercase text-decoration-none brand text-white">Attire</a>
                <p class="text-white text-muted mt-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam nostrum, asperiores minima vero autem eos accusamus, similique natus dolorem hic repellendus vitae error consequuntur fugit, maiores consectetur sequi ab deleniti.
                </p>
            </div>

            <div class="col-md-6 col-lg-3">
                <h5 class="fw-light">Links</h5>
                <ul class="f">
                    <li class="my-3">
                    <a href="" class="text-white text-decoration-none text-muted">
                        <i></i>
                    </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3">
                
            </div>
        </div>
    </div>
</div>
<!--end of footer-->


</section>




<!--user login Modal start here-->
<section class="mt-5" id="user-login-modal">
<div class="modal modal-md fade"
 id="user-login"
 data-bs-backdrop="static"
 tabindex="-1"
 aria-hidden="true"
 style="backdrop-filter:blur(5px)"
 >
 
    <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header p-0 pe-1 text-bg-white btn-group">
          <!-- <div class="btn-group"> -->
            <button class="btn btn-transparent" onclick="displayLogIn()">Login</button>
            <button class="btn btn-transparent" onclick="displaySignUp();">Signup</button>
           <!-- </div> -->
           
            
            </div>
            <div class="modal-body login" id="login"
            
            >
                 <form action="/user-login" method="post">

              <div class="form-floating mb-3">
              <input type="text" name="username" class="form-control form-control-sm" id="user_name" placeholder="johndoe" autofocus>
              <label for="user_name">Username</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" name="password" class="form-control form-control-sm" id="pass_word" placeholder="***">
              <label for="pass_word">Password</label>
            </div>

            <div class="form-check mb-3">
              <input type="checkbox" form="remember_me" class="form-check-input">
              <label for="remember_me" class="foem-check-label">Remember me?</label>
              <span class="forgot-password text-muted">forgot password?</span>
            </div>

            <div class="d-grid">
              
              <button type="submit" class="btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                Login to continue
              </button>
            </div>
            </form>
            </div>
             <!--signup for users-->
             <div class="modal-body signup" id="signup"
             
             >
                 <form action="/user-signup" method="post">

              <div class="form-floating mb-3">
              <input type="text" name="username" class="form-control form-control-sm" id="user_name" placeholder="johndoe" autofocus required>
              <label for="user_name">Username</label>
            </div>

           
            <div class="form-floating mb-3">
              <input type="text" name="email" class="form-control form-control-sm" id="user_name" placeholder="Mobile/Email" autofocus required>
              <label for="email">Mobile Number or Email Id</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" name="password" class="form-control form-control-sm" id="pass_word" placeholder="***" required>
              <label for="pass_word">Password</label>
            </div>

            <div class="form-check mb-3">
              <input type="checkbox" form="remember_me" class="form-check-input">
              <label for="remember_me" class="foem-check-label">Remember me?</label>
              
            </div>

            <div class="d-grid">
              
              <button class="btn" data-bs-dismiss="modal"
                    aria-label="close" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                Login to continue
              </button>
            </div>
            </form>
            </div>
            <!--end of signup for users-->

        </div>
    </div>
</div>
  
</section>
<!--user login Modal end's here-->


<script>
    function displaySignUp(){
        console.log('signup]]]]]]')
        const loginElement=document.getElementById('login');
        loginElement.style.display="none";

        const signupElement=document.getElementById('signup')
        signupElement.style.display="";

    }

     function displayLogIn(){
        const signupElement=document.getElementById('signup');
        signupElement.style.display="none";

        const loginElement=document.getElementById('login')
        loginElement.style.display="";

    }



    
</script>