


<section id="user-main-section">
    <header id="header" class="vh-100 carousel slide" style="padding-top:300px">
<div class="container-fluid  d-flex align-items-center h-10 justify-content-center">
            <div id="slides-only" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                       <h2 class="text-capitalize text-white">best collection</h2>
                       <h1 class="text-uppercase py-2 fw-bold text-white">new arrivals</h1>
                       <a href="#" class="btn mt-3">shop now</a>
                    </div>
                    <div class="carousel-item active">
                        <h2 class="text-capitalize text-white">best price & offer</h2>
                        <h1 class="text-uppercase text-white">new season</h1>
                        <a href="#" class="btn mt-3 text-capitalize">BUY NOW</a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>       
    </div>

    <button class="carousel-control-prev" type="button" 
    data-bs-target="#header" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" 
    data-bs-target="#header" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    </button>
    </header>
</section>